DOCS_USER=<FILL_ME>
DOCS_PASS=<FILL_ME>

OPENSEARCH_HOST=<FILL_ME>
OPENSEARCH_PORT=9200
OPENSEARCH_USER=<FILL_ME>
OPENSEARCH_PASSWORD=<FILL_ME>
OPENSEARCH_USE_SSL=true
OPENSEARCH_VERIFY_CERTS=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_INSECURE=true

REDIS_HOST=<FILL_ME>
REDIS_PORT=<FILL_ME>
REDIS_USERNAME=<FILL_ME>
REDIS_PASSWORD=<FILL_ME>
REDIS_CERT_PATH=<FILL_ME>

AZURE_STORAGE_URL=<FILL_ME>
AZURE_STORAGE_ID=<FILL_ME>
AZURE_STORAGE_KEY=<FILL_ME>

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=<FILL_ME>
AZURE_DOCUMENT_INTELLIGENCE_API_KEY=<FILL_ME>

AZURE_OPENAI_EMBEDDINGS_API_KEY=<FILL_ME>
AZURE_OPENAI_EMBEDDINGS_API_VERSION=<FILL_ME>
AZURE_OPENAI_EMBEDDINGS_ENDPOINT=<FILL_ME>
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME=<FILL_ME>

PINECONE_API_KEY=<FILL_ME>
PINECONE_INDEX_NAME=<FILL_ME>
PINECONE_DIMENSIONS=<FILL_ME>
EMBEDDINGS_DIMENSIONS=<FILL_ME>

CRM_SOA_URL=<FILL_ME>
SOA_CERT_PATH=<FILL_ME>
SOA_CERT_PASSPHRASE=<FILL_ME>
ENVIRONMENT=development
