DOCS_USER=<FILL_ME>
DOCS_PASS=<FILL_ME>

OPENSEARCH_HOST=<FILL_ME>
OPENSEARCH_PORT=9200
OPENSEARCH_USER=<FILL_ME>
OPENSEARCH_PASSWORD=<FILL_ME>
OPENSEARCH_USE_SSL=true
OPENSEARCH_VERIFY_CERTS=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_INSECURE=true





OPENAI_API_KEY=<FILL_ME>
OPENAI_BASE_URL=https://openrouter.ai/api/v1
OPENAI_EMBEDDING_MODEL=nvidia/nemotron-3-embed-1b:free
OPENAI_MODEL=openai/gpt-4o-mini


