OPENSEARCH_HOST=<FILL_ME>
OPENSEARCH_PORT=9200
OPENSEARCH_USER=<FILL_ME>
OPENSEARCH_PASSWORD=<FILL_ME>
OPENSEARCH_USE_SSL=true
OPENSEARCH_VERIFY_CERTS=false
OPENSEARCH_LOG_INDEX_PATTERN=logs-otel-v1*
OTEL_SERVICE_NAME=<FILL_ME>
